{% load static %}
<!-- Start header -->
<header class="top-header">
    <div class="header_top">

        <div class="container">
            <div class="row">
                <div class="logo_section">
                    <a class="navbar-brand" href="index.html"><img alt="image" src="{% static '' %}images/logo.png"></a>
                </div>
                <div class="site_information">
                    <ul>
                        <li><a href="mailto:logithaapp@gmail.com"><img alt="#" src="{% static '' %}images/mail_icon.png"/>logitha@gmail.com</a>
                        </li>
                        <li><a href="tel:exchang@gmail.com"><img alt="#" src="{% static '' %}images/phone_icon.png"/>+917022333968</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <a class="join_bt" href="{% url 'profile' %}">Profile</a>
                            <a class="join_bt" href="{% url 'logout' %}">LogOut</a></li>
                        {% else %}
                        <li>
                            <a class="join_bt" href="{% url 'register' %}">Register / Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li %} %} class="btn-{{ message.tags }}" endif if message.tags {% {%>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

    </div>
    <div class="header_bottom">
        <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section" style="background: #ff880e;">
                    <nav class="navbar header-nav navbar-expand-lg">
                        <div class="menu_section">
                            <button aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                                    data-target="#navbar-wd" data-toggle="collapse" type="button">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                                <ul class="navbar-nav">
                                    <li><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                                    <li><a class="nav-link" href="{% url 'exchange' %}">Exchange</a></li>
                                    <li><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                                    <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
                                    <li><a class="nav-link" href="{% url 'news' %}">News</a></li>
                                    <li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="search-box">
                        <form action="/search/" method="post">
                            {% csrf_token %}
                            <input class="search-txt" name="query" placeholder="Search" type="text">
                            <a class="search-btn">
                                <img alt="#" src="{% static '' %}images/search_icon.png"/>
                            </a>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- End header -->