{% load static %}
    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">

            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="index.html"><img src="{% static '' %}images/logo.png" alt="image"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                            <li><a href="mailto:logitha@gmail.com"><img src="{% static '' %}images/mail_icon.png" alt="#" />logitha@gmail.com</a></li>
                            <li><a href="tel:exchang@gmail.com"><img src="{% static '' %}images/phone_icon.png" alt="#" />+917022333968</a></li>
                            <li><a class="join_bt" href="#">Join us</a></li>
                        </ul>
                    </div>
                </div>
                {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="btn-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>

        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section" style="background: #ff880e;">
                   <nav class="navbar header-nav navbar-expand-lg">
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                        <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        <li><a class="nav-link" href="{% url 'exchange' %}">Exchange</a></li>
                        <li><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                        <li><a class="nav-link" href="{% url 'news' %}">News</a></li>
                        <li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
                     </div>
                 </nav>
                 <div class="search-box">
                     <form action="/search/" method="post">
                         {% csrf_token %}
                         <input  name="query" class="search-txt" placeholder="Search" type="text">
                         <a class="search-btn">
                             <img alt="#" src="{% static '' %}images/search_icon.png"/>
                         </a>

                     </form>

                </div>
                </div>
            </div>
          </div>
        </div>

    </header>
    <!-- End header -->