{% extends 'base.html' %}
{% load static %}
{% block title %}
Search
{% endblock %}
{% block banner_title %}
Search
{% endblock  %}

    {% block content %}
    <!-- section -->
    <div class="section">
        <div class="container">
            <div class="row">

                <div class="col-md-12 layout_padding">


                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">

                           <h2><span class="theme_color">Search : </span> "{{query}}"</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                     {% if mails %}
                    {% for mail in mails %}
                        <p>{{forloop.counter}} .
                            {{mail}}</p>

                    {% endfor %}
                    {% else %}
                    No mails available
                    {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end section -->

{% endblock %}