{% extends 'base.html' %}
{% load static %}
{% block title %}
Password Change Done
{% endblock %}
{% block banner_title %}
Password Change
{% endblock  %}


{% block content %}
<!-- section -->
<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 layout_padding">
                <div class="full paddding_left_15">
                    <div class="heading_main text_align_left">
                        <h2><span class="theme_color">Password Change Done</span></h2>
                    </div>
                </div>
                <div class="full paddding_left_15">
                    <h3>
                        Your password has Changed successfully.
                    </h3>
                    <h3>
                        From next LogIn you can use your new password.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

{% endblock %}