{% extends 'base.html' %}
{% load static %}
{% block title %}
Password Reset
{% endblock %}
{% block banner_title %}
Password Reset
{% endblock  %}


{% block content %}
<!-- section -->
<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 layout_padding">
                <div class="full paddding_left_15">
                    <div class="heading_main text_align_left">
                        <h2><span class="theme_color">Password Reset</span></h2>
                    </div>
                </div>
                <div class="full paddding_left_15">
                    <form method="post">
                        <h3>Forgotten your password? Enter your email address below, and we’ll email instructions for
                            setting a new one.</h3>

                        {% csrf_token %}

                        <div class="field">
                            <input name="email" placeholder="Your Registered Mail" type="email"/>

                        </div>

                        <div class="full paddding_left_15">

                            <button class="main_bt" type="submit">Send Link</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

{% endblock %}