{% extends 'base.html' %}
{% load static %}
{% block title %}
Password Reset Done
{% endblock %}
{% block banner_title %}
Password Reset
{% endblock  %}


{% block content %}
<!-- section -->
<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 layout_padding">
                <div class="full paddding_left_15">
                    <div class="heading_main text_align_left">
                        <h2><span class="theme_color">Password Reset Done</span></h2>
                    </div>
                </div>
                <div class="full paddding_left_15">
                    <p>
                        Your password has been set. You may go ahead and LogIn
                        now.
                    </p>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="{% url 'register' %}">LogIn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

{% endblock %}