{% extends 'base.html' %}
{% load static %}

{% block title %}

    Password Reset Done

{% endblock %}

{% block banner_title %}

    Password Reset

{% endblock  %}



{% block content %}
<!-- section -->
<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 layout_padding">
                <div class="full paddding_left_15">
                    <div class="heading_main text_align_left">
                        <h2><span class="theme_color">Password Reset Done</span></h2>
                    </div>
                </div>
                <div class="full paddding_left_15">
                        <p>
                            We've emailed you instructions for setting your password, if an account exists with the
                            email you entered.
                            You should receive them shortly.
                        </p>
                        <p>
                            If you don't receive an email, please make sure you've entered the address you registered
                            with,
                            and check your spam folder.
                        </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->

    {% endblock %}