{% extends 'base.html' %}
{% load static %}
{% block title %}
Password Reset Confirm
{% endblock %}
{% block banner_title %}
Password Reset
{% endblock  %}


{% block content %}
<!-- section -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 layout_padding">
                <div class="full paddding_left_15">
                    <div class="heading_main text_align_left">
                        <h2><span class="theme_color">Password Reset Confirm</span></h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">

                            {% if validlink %}
                            <h2>Reset Password</h2>

                            <form method="post">
                                {% csrf_token %}
                                <div class="field">
                                    <input name="new_password1" placeholder="{{form.new_password1.label}}" type="password"/>
                                </div>
                                <div class="field">
                                    <input name="new_password2" placeholder="{{form.new_password2.label}}" type="password"/>
                                </div>

                                <div class="full paddding_left_15">
                                    <button class="main_bt" type="submit">Change Password</button>
                                </div>
                            </form>
                            {% else %}
                            <p>
                                The password reset link was invalid, possibly because it has already been used.
                                Please request a new password reset.
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 layout_padding">
                        <div class="full paddding_left_15 ">
                            <h2>Note : </h2>
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="field">
                                <ol>
                                    <li>
                                        {{field.help_text}}
                                    </li>
                                </ol>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

{% endblock %}