{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile
{% endblock %}
{% block banner_title %}
Profile
{% endblock  %}

<!-- Start Banner -->
<div class="section inner_page_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner_title">
                    <h3>Profile</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
{% block content %}
<!-- section -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 layout_padding">
                <div class="full paddding_left_15">
                    <div class="heading_main text_align_left">
                        <h2><span class="theme_color">{{user.name}}</span></h2>
                    </div>
                </div>
                <div class="full paddding_left_15">
                    {% if user.email %}
                    <h2>Mail : {{user.email}} </h2>
                    {% endif %}
                    {% if user.phone_no %}
                    <h2>Phone Number : {{user.phone_no}} </h2>
                    {% endif %}
                </div>
                <div class="full paddding_left_15">
                    <a class="main_bt" href="{% url 'password_change' %}">Change Password</a>
                </div>
            </div>

            <div class="col-md-6 layout_padding">
                <div class="full paddding_left_15">
                    <div class="heading_main text_align_left">
                        <h2><span class="theme_color"></span>Profile Settings</h2>
                    </div>
                </div>
                <div class="full paddding_left_15">
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="{% url 'password_change' %}">Change Password</a>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="{% url 'password_change' %}">Change Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

{% endblock %}